:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Градиент в стиле Apple Music */
  background: radial-gradient(circle at top left, #1a1a2e, #000000); 
}

#root {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* Скрываем скроллбар для красоты */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}